[run]
source = 
    api
    ui
omit = 
    Kokoro-82M/*
    MagicMock/*
    test_*.py
    examples/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
