# Version control
.git

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
.coveragerc

# Environment
# .env
.venv
env/
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# Project specific
*examples/*.wav
*examples/*.pcm
*examples/*.mp3
*examples/*.flac
*examples/*.acc
*examples/*.ogg

Kokoro-82M/
ui/data
tests/
*.md
*.txt
requirements.txt

# Docker
Dockerfile*
docker-compose*

*.egg-info
*.pt
*.wav
*.tar*