
output/*
output_audio/*
ui/data/*

*.db
*.pyc
*.pth
*.pt

Kokoro-82M/*
__pycache__/
.vscode/
env/
.Python


.coverage

examples/assorted_checks/benchmarks/output_audio/*
examples/assorted_checks/test_combinations/output/*
examples/assorted_checks/test_openai/output/*

examples/assorted_checks/test_voices/output/*
examples/assorted_checks/test_formats/output/*
examples/assorted_checks/benchmarks/output_audio_stream/*
ui/RepoScreenshot.png
examples/assorted_checks/benchmarks/output_audio_stream_openai/*

