# Version control
.git

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pt
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
.coveragerc

# Environment
# .env
.venv
env/
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# Project specific
examples/
Kokoro-82M/
ui/data

tests/
*.md
*.txt
!requirements.txt

# Docker
Dockerfile*
docker-compose*

*.egg-info
*.pt
*.wav
*.tar*

