# Primarily for reference, as Dockerfile refer
# Core dependencies
fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4
pydantic-settings==2.7.0
python-dotenv==1.0.1
sqlalchemy==2.0.27

# ML/DL
transformers==4.47.1
numpy>=1.26.0  # Version managed by PyTorch dependencies
scipy==1.14.1
onnxruntime==1.20.1

# Audio processing
soundfile==0.13.0

# Text processing
phonemizer==3.3.0
regex==2024.11.6

# Utilities
aiofiles==23.2.1  # Last version before Windows path handling changes
tqdm==4.67.1
requests==2.32.3
munch==4.0.0
tiktoken===0.8.0
loguru==0.7.3

# Testing
pytest==8.0.0
httpx==0.26.0
pytest-asyncio==0.23.5
